In [6]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_squared_error, accuracy_score

In [2]:
data = pd.read_csv(r"C:\Users\YASH\Downloads\archive (1)\uber.csv")

In [3]:
data.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   key                200000 non-null  object
 2   fare_amount        200000 non-null  float64
 3   pickup_datetime    200000 non-null  object
 4   pickup_longitude   200000 non-null  float64
 5   pickup_latitude    200000 non-null  float64
 6   dropoff_longitude  199999 non-null  float64
 7   dropoff_latitude   199999 non-null  float64
 8   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(2)
memory usage: 13.7+ MB

In [5]:
data.dtypes

Unnamed: 0             int64
key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [7]:
data = data.drop(columns = ['Unnamed: 0', 'key'], axis = 1)

In [8]:
data.isnull().sum()

fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    1
dropoff_latitude     1
passenger_count      0
dtype: int64

In [9]:
data.isnull().sum().sum()

2

In [10]:
data.dropna(inplace = True)

In [11]:
data.isnull().sum().sum()

0

In [12]:
data.duplicated().sum()

0

In [13]:
data = data.loc[
    (data['fare_amount'].between(0,100))&
    (data['pickup_longitude'].between(-80,-70))&
    (data['pickup_latitude'].between(35,45))&
    (data['dropoff_longitude'].between(-80,-70))&
    (data['dropoff_latitude'].between(35,45))&
    (data['passenger_count'].between(1,6))
                ]

In [14]:
data['distance'] = np.hypot(data['pickup_longitude'] - data['dropoff_longitude'],
                            data['pickup_latitude'] - data['dropoff_latitude'])

In [15]:
data.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance
0,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1,0.015140
1,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1,0.022103
2,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1,0.053109
3,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3,0.016528
4,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5,0.051031

In [16]:
X = data[['distance', 'passenger_count']]
Y = data['fare_amount']

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size = 0.3, random_state = 42)

In [21]:
models   = { 'Linear Regression' : LinearRegression(), 'Ridge Regression' : Ridge(), 'Lasso Regression' : Lasso() }

scores = {}

for name, model in models.items():
    model.fit(X_train, Y_train)
    predictions = model.predict(X_test)
    scores[name] = {
        'R2 SCORE' : r2_score(Y_test, predictions),
        'Root Mean Squared Error' : np.sqrt(mean_squared_error(Y_test, predictions)),
        
    }

print(scores)

{'Linear Regression': {'R2 SCORE': 0.6212223522066764, 'Root Mean Squared Error': 5.761379264417161}, 'Ridge Regression': {'R2 SCORE': 0.6209827930483993, 'Root Mean Squared Error': 5.76320087799114}, 'Lasso Regression': {'R2 SCORE': -8.093007042297984e-08, 'Root Mean Squared Error': 9.361260084213173}}

In [ ]:
y